.footer {
  background-image: linear-gradient(rgba($color-dark, .85), rgba($color-dark, .85)), url("../../img/footer.png");
  background-size: cover;
  background-position: center;

  &__nav {

    .dropdown-menu {
      background-color: transparent;
    }

    .dropdown-item:focus, .dropdown-item:hover {
      color: $color-dark;
    }
    .nav-link {
      @include font($mm, 1.4rem, $color-white, 2.4rem);
      text-transform: uppercase;
      border: 1px solid transparent;
      @include respondmax(xxl) {
        font-size: 1.2rem;
      }
      @include respondmax(xl) {
        font-size: 1rem;
      }
      &:hover {
        border: 1px solid $color-primary;
        border-radius: 3px;
      }
    }

    .dropdown-item {
      @include font($mm, 1.4rem, $color-white, 2.4rem);
      text-transform: uppercase;
    }
  }

  &__top {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__center {
    display: flex;
    align-items: center;

    &-line {
      width: 100%;
      height: 1px;
      background-color: #bfa688;
    }

    &-logo {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }

  &__bottom {
    //display: flex;
    //justify-content: space-around;
    //align-items: center;
    //padding-top: 5rem;
    //padding-bottom: 4.5rem;

    padding-top: 5rem;
    padding-bottom: 4.5rem;
    text-align: center;
    position: relative;

  }

  &__rightLogo {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__leftLogo {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__info {
    @include font($mr, 1.4rem, $color-white, 2.4rem);
    text-align: center;
  }

  &__autor {
    @include font($mr, 1.4rem, $color-white, 2.4rem);
  }

}

.social {
  padding-top: .5rem;
  padding-bottom: 1rem;
  .fab {
    font-size: 1.7rem;
    color: $color-white;

  }
  &__link {
    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 102, 203);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}