.popular {

  &__border {
    position: relative;
    z-index: 5;
    border: 1px dashed #e7e7e7;
  }

  &__tittle {
    position: absolute;
    @include font($rb, 6rem, #ffc677);
    opacity: .3;
    right: 0;
    top: 0;

  }

  &__decor {
    position: absolute;
    right: 0;
    top: 10px;
    max-width: 35rem;
  }

  &__content {
    display: flex;
  }
  &-left {

    padding: 7rem 17rem 7rem 15rem;
    &__img-cont {
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20px;
        left: 85px;
        background-color: #f3d5a1;
        z-index: 1;
      }
    }
    &__img {
      max-height: 35rem;
      max-width: 35rem;
      position: relative;
      z-index: 2;

    }

    &__color {
      max-width: 13rem;
      position: absolute;
      left: 43.5rem;
      height: 58.4rem;
      top: -5rem;
      z-index: 1;
    }
  }
  &-right {
    max-width: 45rem;
    margin: auto 0;
    &__tittle {
      @include font($rsb, 2.4rem, $color-primary, 2.4rem);
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 2rem;
    }

    &__text {
      @include font($rsb, 1.4rem, $color-white, 2.4rem);

    }
    &__btn {
      @include font($rsb, 1.6rem, $color-white, 2.4rem);
      background-color: $color-dark;
      width: 16rem;
      height: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.5rem;
      border: 1px solid #3c3c3c;

      &:hover {
        color: $color-primary;
        .fas {
          color: $color-primary;
        }
      }
      .fas {
        color: $color-white;
        font-size: 1.3rem;
      }

    }
  }

  &-carusel {
    &__item {
      padding: 30px;
      background-image: linear-gradient(rgba($color-dark, .85), rgba($color-dark, .85)), url("../../img/popularbg.png");
      background-size: cover;
      background-position: center;
      position: relative;
      margin-top: 10rem;
      margin-bottom: 10rem;

    }

    .owl-nav {
      position: absolute;
      bottom: 160px;
      right: 110px;
      font-size: 4rem;
      color: white;
      display: block !important;

      .owl-prev {
        margin-right: 3.5rem;
        &:focus {
          outline: none;
        }
      }

      .owl-next {
        &:focus {
          outline: none;
        }
      }
    }
  }
}
