<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <nav class="navbar navbar-expand-lg nav-justified footer__nav">

                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#footer__navbar"
                        aria-controls="footer__navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="footer__navbar">
                    <ul class="navbar-nav mr-auto w-100 mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Made to measure
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Link</a>
                                <a class="dropdown-item" href="#">Another Link</a>
                                <a class="dropdown-item" href="#">Another Link</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                bed linens
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Link</a>
                                <a class="dropdown-item" href="#">Another Link</a>
                                <a class="dropdown-item" href="#">Another Link</a>

                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Browse our fabrics</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Measuring advice</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Consultation</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"> Custom calculation</a>
                        </li>

                    </ul>

                </div>
            </nav>
        </div>
    </div>
    <div class="footer__center">
        <div class="footer__center-line"></div>
        <div class="footer__center-logo"><img src="img/footorlinelogo.png" class="img-fluid footer__lineLogoImg"
                                              alt=""></div>
        <div class="footer__center-line"></div>
    </div>
    <div class="footer__bottom">
        <div class="footer__leftLogo">
            <a href="#"> <img src="img/fotorlogoleft.png" class="img-fluid" alt=""></a>
        </div>
        <div class="footer__info">
            <p class="footer__info--phone">+1 23 456 78 89</p>
            <div class="social">
                <a class="social__link" href="#"><i class="fab fa-youtube"></i></a>
                <a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="social__link" href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="footer__info--email">info@selenescurtains.com</p>
        </div>

        <div class="footer__rightLogo">
            <span class="footer__autor">Created by</span>
            <a href="#"><img src="img/fotorlogoright.png" class="img-fluid" alt=""></a>
        </div>
    </div>
</footer>



<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="libs/owl.carousel/dist/owl.carousel.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
