<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/components-font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="libs/css-hamburgers/dist/hamburgers.min.css">
    <link rel="stylesheet" href="css/main/main.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Header -->
<header class="header">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topnav">
            <div class="container">
                <div class="topbar">
                    <div class="topbar-social">
                        <a class="topbar__link" href="#">Prices</a>
                        <a class="topbar__link" href="#">Delivery</a>
                        <a class="topbar__link" href="#">Help</a>

                    </div>


                    <div class="topbar-child2">

                        <div class="social">
                            <a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="social__link" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="social__link" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="social__link" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="topbar-child2__link" href="#">Contact</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="logoCenter">
            <div class="container">
                <div class="centernav">
                    <div class="search">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon">
                        <button type="submit"><i class="fas fa-search"></i> </button>
                                               </span>
                        </div>
                    </div>
                    <div class="centernav__logo">
                        <img src="img/fotorlogoleft.png" class="img-fluid" alt="">
                    </div>
                    <div class="centernav__right">
                        <div class="centernav__basket d-flex align-items-center"><i
                                class="fas fa-shopping-bag mr-2"></i>Basket <p
                                class="centernav__basket-count m-0 d-flex justify-content-center ml-3">5</p></div>
                        <div class="centernav__acount"><i class="far fa-user"></i> My Account</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="headerNav">
            <div class="container">
                <nav class="navbar navbar-expand-lg nav-justified header__nav">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header__navbar"
                            aria-controls="header__navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="header__navbar">
                        <ul class="navbar-nav mr-auto w-100 mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Made to measure
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="#">Link</a>
                                    <a class="dropdown-item" href="#">Another Link</a>
                                    <a class="dropdown-item" href="#">Another Link</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    bed linens
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Link</a>
                                    <a class="dropdown-item" href="#">Another Link</a>
                                    <a class="dropdown-item" href="#">Another Link</a>

                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Browse our fabrics</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Measuring advice</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Consultation</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#"> Custom calculation</a>
                            </li>

                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="index.html" class="logo-mobile">
            <img src="img/fotorlogoleft.png" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">
                <li  class="item-topbar-mobile border-0 ">
                    <div class="topbar-social">
                        <a class="topbar__link" href="#">Prices</a>
                        <a class="topbar__link" href="#">Delivery</a>
                        <a class="topbar__link" href="#">Help</a>
                        <a class="topbar-child2__link" href="#">Contact</a>


                    </div>


                </li>

                <li class="item-topbar-mobile">
                    <a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="social__link" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="social__link" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="social__link" href="#"><i class="fab fa-youtube"></i></a>

                </li>

                <li class="item-topbar-mobile">
                    <div class="centernav">
                        <div class="search">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-addon">
                        <button type="submit"><i class="fas fa-search"></i> </button>
                                               </span>
                            </div>
                        </div>
                    </div>
                    <div class="centernav__basket d-flex align-items-center"><i
                            class="fas fa-shopping-bag mr-2"></i>Basket <p
                            class="centernav__basket-count m-0 d-flex justify-content-center ml-3">5</p></div>
                    <div class="centernav__acount"><i class="far fa-user"></i> My Account</div>


                </li>

                <li class="item-menu-mobile">
                    <a href="#"> Made to measure</a>
                    <ul class="sub-menu">
                        <a class="" href="#">Link</a>
                        <a class="" href="#">Another Link</a>
                        <a class="" href="#">Another Link</a>

                    </ul>
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>

                <li class="item-menu-mobile">
                    <a href="#"> bed linens</a>
                    <ul class="sub-menu">
                        <a href="#">Link</a>
                        <a href="#">Another Link</a>
                        <a href="#">Another Link</a>
                    </ul>
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>


                <li class="item-menu-mobile">

                    <a href="#">Browse our fabrics</a>

                </li>

                <li class="item-menu-mobile">

                    <a href="#">Measuring advice</a>

                </li>

                <li class="item-menu-mobile">

                    <a href="#">Consultation</a>

                </li>

                <li class="item-menu-mobile">

                    <a href="#"> Custom calculation</a>

                </li>
            </ul>
        </nav>
    </div>


</header>




