$color-primary: #eec580;
$color-white: #fff;
$color-dark: #000;

$aznb: jaznb;
$mr: Montserrat-Regular;
$mm: Montserrat-Medium;

$rsb: Raleway-SemiBold;
$rb: Raleway-Black;
$rbo: Raleway-Bold;
$rm:Raleway-Medium;
