$color-primary: #eec580;
$color-white: #fff;
$color-dark: #000;

$aznb: jaznb;
$mr: Montserrat-Regular;
$mm: Montserrat-Medium;

$rsb: Raleway-SemiBold;
$rb: Raleway-Black;
$rbo: Raleway-Bold;
$rm:Raleway-Medium;




$color-primary-light: #27AAE1;


$color-dark-light: #999999;

$color-mute :#C9C9C9;



$color-border: #CBCBCB;


//fonts


$aznr:jaznr;

$gs: GillSans;

$gsm: GillSans-Medium;

$gsl: GillSans-Light;

$gsli: GillSans-LightItalic;

$gsi: GillSans-Italic;

$ap:AnotherdayinParadise
